html {
    position: relative;
    min-height: 100%;
  }

body {
    background-color: #FBF8CC;
    margin-bottom: 20px; /* Height of the footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px; /* Height of the footer */
  }

h1 {
    font-family: lemon;
    background-color:rgba(255,255,255,.8);
     text-align: center;
 }

 h3 {
    font-family: verdana;
    text-align: center;
 }

.card{

  border: none;
  background: #eee;

}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}


.search-icon {
        height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
        bottom: 30px;
        position: relative;
        border-radius: 5px;
}

.search-icon:hover{

  color: #fff !important;
}

a:link {
    text-decoration: none
}



.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border:none;
    cursor: pointer;
    transition: all 0.5s;
}


.card-inner:hover{

   transform: scale(1.1);

}

.mg-text span{

  font-size: 20px;

}

.mg-text{

  line-height: 20px;
}

bg-body-tertiary{
background-color: #CCCFFB;
}

#buttons
{ width:100;
text=align: center;
}

.button-value {

border:1px solid #cfbaf0;
transition: background-color 200ms, color 200ms;
display: inline-block;
padding: 1em 2em;
border-radius: 2em;
background-color: #f3f3f3;
color: #a3c4f3
cursor: pointer;

}

.button-value:hover {
background-color: #E5E4E2;
color: #3a3a3a;
}


.active {
background-color: #cfbaf0;
color: #CCCFFB;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  padding: 16px 0 10px;
 }


 #durationtime {
  font-family: "lemon", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-collapse: collapse;
  width: 50%;
  background: #d0f4de;
}

#durationtime td, #durationtime th {
  border: 1px solid #ddd;
  padding: 8px;
}

#durationtime tr:nth-child(even){background-color: #b8c0ff;}

#durationtime tr:hover {background-color: #ffd6ff;}

#durationtime th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a9def9;
  color: #ff70a6;
}

.image-container {
    height: 70vh;
    overflow: hidden; /* Hide overflow content */
    padding-bottom: 10px
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resize image to cover container */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: -30px; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.recipe-card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 700px; /* Ensure cards have the same height */
}

.recipe-card-img-top {
    border-top-left-radius: 8px;
    height: 60%; /* Set the image height to 60% of the card height */
    object-fit: cover; /* Ensure the image covers the container */
}

.card-body{
    display: flex;
    flex-direction: column;
    border-bottom-radius: 8px;
    padding:2rem


}
 .recipe-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.col-form-label{
    font-family: lemon;
}

h2, h3, h5 {
font-family: lemon;
}

.form-label{

}

.navbar-brand{
font-family: lemon;
}

.nav-item{
font-family: lemon;
}