{% extends "layout.html" %}
{% block body_content %}
<!--About us text-->
<div class="container">
    <h1>
        Welcome to Budget Bites!
    </h1>
    <br>
    <p>
        At Budget Bites, we understand the challenges of being a student, especially when it comes to balancing a tight budget with the desire for delicious, nutritious meals. That's why we're here to help you make the most out of what you have in your cupboard and wallet.
    <br><br>
        Our mission is simple: to empower students to cook tasty and affordable meals using ingredients commonly found in their kitchen. Whether you're a culinary novice or a seasoned chef on a shoestring budget, we've got you covered with easy-to-follow recipes, handy cooking tips, and creative ideas to spice up your meals without breaking the bank.
    <br><br>
        We believe that cooking should be fun, accessible, and above all, delicious. That's why our team of passionate food enthusiasts works tirelessly to curate a collection of recipes that are not only budget-friendly but also mouthwateringly good. From quick and simple snacks to hearty meals that will keep you fueled through late-night study sessions, we've got something for every craving and occasion.
    <br><br>
        But Budget Bites is more than just a collection of recipes. It's a community—a place where students from all walks of life can come together to share their love of food, swap tips and tricks, and support each other on their culinary journey. Whether you're cooking for one or hosting a dorm room dinner party, you'll find inspiration, encouragement, and camaraderie here.
    <br><br>
        So, join us in the kitchen and let's cook up some magic together. With a little creativity and a pinch of passion, you'll be amazed at what you can create with the ingredients you already have. Happy cooking!
    </p>
    <br>
    <hr>
<!--Blurb on each team with avatar a a-tags to external links-->
    <h2>
        Meet the Team...
        <br><br>
    </h2>
    <img style="float: left; margin: 0px 30px 30px 0px;" src="/static/images/cherina.jpg" alt="cherina" width="115" height="130">
    <h3>Cherina</h3>
    <ul>
        <li>
            <b>My favourite recipe:</b>
            Spinach, sweet potato and lentil dhal - basically a recipe that combines all my favourite food!
            <a href="https://www.bbcgoodfood.com/recipes/spinach-sweet-potato-lentil-dhal">You can find the recipe here...</a>
        </li>
        <li>
            <b>Favourite food:</b>
            Tensoba (Soba noodles with Tempura)
        </li>
        <li>
            <b>Favourite restaurant:</b>
            Dishoom! I love their House Black Daal
        </li>
    </ul>
    <br><br>
    <img style="float: left; margin: 0px 30px 30px 0px;" src="/static/images/katy.jpg" alt="katy" width="115" height="130">
    <h3>
        Katy
    </h3>
    <ul>
        <li>
            <b>My favourite recipe:</b>
            My current favourite is this <a href="https://www.bbcgoodfood.com/recipes/baked-sea-bass-lemon-caper-dressing">sea bass recipe,</a> quick and easy to do!
        </li>
        <li>
            <b>Favourite food:</b>
            Garlic
        </li>
        <li>
            <b>Favourite restaurant:</b>
            Tough one as there’s so many great ones but for Leeds it’s ox club!
        </li>
    </ul>
    <br><br>
    <img style="float: left; margin: 0px 30px 30px 0px;" src="/static/images/minahil.jpg" alt="minahil" width="115" height="130">
    <h3>
        Minahil
    </h3>
    <ul>
        <li>
            <b>My favourite recipe:</b>
            Current go to is shakshuka, perfect for a big breakfast or brunch, so quick to put together and delicious!
            <a href="https://www.loveandlemons.com/shakshuka-recipe/">Try it for yourself!</a>
        </li>
        <li>
            <b>Favourite food:</b>
            Any form of potatoes
        </li>
        <li>
            <b>Favourite restaurant:</b>
            <i>(cheeky)</i> Nandos - can’t go wrong
        </li>
    </ul>
    <br><br>
    <img style="float: left; margin: 0px 30px 30px 0px;" src="/static/images/paulene.jpg" alt="paulene" width="115" height="130">
    <h3>
        Paulene
    </h3>
    <ul>
        <li>
            <b>My favourite recipe:</b>
            <a href="https://www.foodiecrush.com/sweet-and-savory-crepes-overstock-giveaway/">Crepes</a>
            - they're so versatile!
        </li>
        <li>
            <b>Favourite food:</b>
            Baked camembert with caramelised onion chutney and sourdough bread - YUM!
        </li>
        <li>
            <b>Favourite restaurant:</b>
            Not a restaurant, but a bakery called <a href="https://www.bageriet.co.uk/">Bageriet</a>. I recommend the mazarin!
        </li>
    </ul>
    <br><br>
    <img style="float: left; margin: 0px 30px 30px 0px;" src="/static/images/tanya.jpg" alt="paulene" width="115" height="130">
    <h3>
        Tanya
    </h3>
    <ul>
        <li>
            <b>My favourite recipe:</b>
            <a href="https://www.allrecipes.com/recipe/54165/balsamic-bruschetta/">THIS!</a>
            Delicious, doesn't require cooking and is ready to go in ~20 minutes (better after an hour in the fridge though)
        </li>
        <li>
            <b>Favourite food:</b>
            Takoyaki, very versatile and tasty
        </li>
        <li>
            <b>Favourite restaurant: </b>
            Rossopomodoro
        </li>
    </ul>
</div>
{% endblock %}
