{% extends "layout.html" %}

{% block body_content %}
<div class="container">
    <br>
    <h3>Oh dear, There's nothing here!</h3>
<h1>4<span><img class="floating" src="../static/images/heartlogo.png" style="width:200px;height:200px;"></span> 4</h1>
    <br>
   <h3>Why not try<a href="/allrecipes"> some other recipes?</a></h3>
    <br>
    <br>

        <h1>Some Tasty Bites</h1>
        <div class="row">
        {% for suggestion in randomrec %}

        <input type="hidden" id="get_recipes" value="{{ name }}">
<!--get recipe title gets a list of tuples so in order to populate the site you need to access each element within the tuple -->


    <div class="col-lg-4">
                <div class="recipe-card">
                    <img src="/static/{{ suggestion [3] }}" class="recipe-card-img-top" alt="Suggested Recipe 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ suggestion [1] }}</h5>
                        <p class="card-text">{{ suggestion [2] }}</p>
                        <a href="/recipe/{{ suggestion [0] }} " class="button-value">View Recipe</a>
                    </div>
                </div>
            </div>


{% endfor %}
</div>
</div>
{% endblock %}