{% extends "layout.html" %}
{% block body_content %}
<div class="row mt-4 g-1 px-4 mb-5">
<div class="col-6 col-md-4 col-xl-2">
  <div class="card-inner p-3 d-flex flex-column align-items-center justify-content-center rounded display-6 p-5">
    <img src="../static/images/meat_set.png" width="100">
    <div class="text-center mg-text"> <span class="fs-7 text-body-secondary"><a href="/login">Meat</a></span>
    </div>
  </div>
</div>

<div class="col-6 col-md-4 col-xl-2">
  <div class="card-inner p-3 d-flex flex-column align-items-center justify-content-center rounded display-6 p-5"> <img src="../static/images/fruits_basket.png" width="100">
    <div class="text-center mg-text"> <span class="fs-7 text-body-secondary">Fruits</span>
    </div>
  </div>
</div>

  <div class="col-6 col-md-4 col-xl-2">
  <div class="card-inner p-3 d-flex flex-column align-items-center justify-content-center rounded display-6 p-5"> <img src="../static/images/vegBouquet.png" width="95">
    <div class="text-center mg-text"> <span class="fs-7 text-body-secondary">Vegetables</span>
    </div>
  </div>
</div>

  <div class="col-6 col-md-4 col-xl-2">
  <div class="card-inner p-3 d-flex flex-column align-items-center justify-content-center rounded display-6 p-5"> <img src="../static/images/milk_pack.png" width="90">
    <div class="text-center mg-text"> <span class="fs-7 text-body-secondary">Dairy</span>
    </div>
  </div>
</div>

  <div class="col-6 col-md-4 col-xl-2">
  <div class="card-inner p-3 d-flex flex-column align-items-center justify-content-center rounded display-6 p-5"> <img src="../static/images/wheat.png" width="100">
    <div class="text-center mg-text"> <span class="fs-7 text-body-secondary">Grains</span>
    </div>
  </div>
</div>

  <div class="col-6 col-md-4 col-xl-2">
  <div class="card-inner p-3 d-flex flex-column align-items-center justify-content-center rounded display-6 p-5"> <img src="../static/images/meat_set.png" width="100">
    <div class="text-center mg-text"> <span class="fs-7 text-body-secondary">Herbs & Spices</span>
    </div>
  </div>
</div>

</div>



{% endblock %}
