{% extends "layout.html" %}

{% block body_content %}
    <div class="container">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe-details">
            <p><strong>Description:</strong> {{ recipe.description }}</p>
            <p><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
            <p><strong>Allergy:</strong> {{ recipe.allergy }}</p>
            <p><strong>Dietary Requirement:</strong> {{ recipe.dietary_requirement }}</p>
            <p><strong>Overall Duration:</strong> {{ recipe.overall_duration }}</p>
            <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }}</p>
            <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
            <p><strong>Serving Size:</strong> {{ recipe.serving_size }}</p>
            <img src="{{ url_for('static', filename=recipe.image) }}" alt="{{ recipe.title }}">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h2>Tools</h2>
            <p>{{ recipe.tools }}</p>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe.steps %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
