{% extends "layout.html" %}

{% block body_content %}
    <div class="container">
        <h1>{{  recipe.recipeName }}</h1>
        <div class="recipe-details">
            <p><strong>Description:</strong> {{ recipe.recipeDescription }}</p>
            <p><strong>Cuisine:</strong> {{ recipe.cuisine_type }}</p>
            <img src="/static/{{ recipe.imageSource }}">
            <p><strong>Overall Duration:</strong> {{ recipe.overallDuration }}</p>
            <p><strong>Preparation Time:</strong> {{ recipe.prepTime }}</p>
            <p><strong>Cook Time:</strong> {{ recipe.cookTime }}</p>
            <p><strong>Serving Size:</strong> {{ recipe.servingSize }}</p>
            <p><strong>Tool Required:</strong> {{ recipe.toolName }}</p>
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.ingredientName }} - {{ ingredient.quantity }} {{ ingredient.unitName }}</li>
                {% endfor %}
            </ul>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe.steps %}
                <li> {{ step.stepDescription }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
