{% extends "layout.html" %}

{% block body_content %}

<div class="col-auto">
    <label for="ingredientname" class="col-form-label">Ingredients Required:  </label>


        {% for ingredient in ingredientname|sort %}

        <input type="hidden" id="get_ingredients" value="{{ ingredient }}">
        <div id="buttons" class="d-flex">
                <button class="button-value">{{ ingredient }}</button>
        </div>

        {% endfor %}

    <br>
  {% for ingredient in ingredientname|sort %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" id="ingredientname"  for="ingredientname">{{ ingredient }}</label>
    </div>
 {% endfor %}


</div>


{% for name in recipename %}
<input type="hidden" id="get_recipes" value="{{ name }}">
        <h1>{{ name }}  </h1>
<p>{{ name.recipeDescription }}</p>
<!--
{% for desc in recipedesc %}
{{ desc }}
{% endfor %}
-->
{% endfor %}

<script src="../static/filter.js"></script>
{% endblock %}
