{% extends "layout.html" %}

{% block body_content %}
 <main>
     <div class="container">
            <section>
                <h3 id="central-text">We want your recipes!</h3>
                <br>
<!--            target self loads response in the same window-->
                <form action="" target="_self" autocomplete="on" method="POST">
                    <div class= 'error-message' id="message">
                        {{message}}
                    </div>
     <h5>Add the steps for completing your recipe</h5>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <div class="mb-3">
                            <div class="d-flex">
                            <label for="Step" class="form-label">Step Number</label>
                            <input type="number" min="1" id="Step" name="Step" class="form-control small-box" aria-describedby="Step" style="width: 100px;">
                             <textarea class="form-control" id="Step" name="Step" rows="3" cols="100"></textarea>
                        </div>
                      </div>
                    </div>
                     <div class="p-2">
                        <button id="addRowBtnStep" onclick="addNewRowStep()">Add row</button>
                    </div>
                    <br>
                    <div id="containerStep">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </section>
        </div>

 </main>

{% endblock %}

