<!-- This is where Jinja2 inheritance code is denoted -->

{% extends "layout.html" %}
{% block body_content %}

<div class="container success">
    <br>
    <h1 class="successtitle">Your recipe has been submitted!</h1>
    <img src="../static/images/swedishchef.jpg" class="rounded mx-auto d-block" alt="Muppets swedish chef">
    <br>
    <p>Thank you for contributing to our recipe community!</p>
    <p>To view your recipe <a href="/recipe/{{ recipeid[0] }}">click here</a></p>
  <!-- Content here -->
</div>

{% endblock %}