{% extends "layout.html" %}

{% block body_content %}
 <main>
        <h1>Add your own recipe!</h1>
        <div class="container">
            <section>
                <h3 id="central-text">We want your recipes!</h3>
                <br>
<!--            target self loads response in the same window-->
                <form action="" target="_self" autocomplete="on" method="POST">
                    <div class= 'error-message' id="message">
                        {{message}}
                    </div>

                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                          <label for="recipename" class="col-form-label">Recipe name</label>
                      </div>

                        <div class="col-auto">
                            <input type="text" id="recipename" name="recipename" class="form-control" aria-describedby="recipename">
                        </div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <div class="mb-3">
                            <label for="recipe_description" class="form-label">Describe your recipe</label>
                             <textarea class="form-control" id="recipe_description" name="recipe_description" rows="3" cols="100"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                          <label for="dietarytype" class="col-form-label">Dietary requirements:  </label>
<!--                          the {brackets below} allow for iterating through the dietary types we returned through the stored proc-->
<!--                          It creates the tick box and label for each type-->

                          {% for dietary in dietarytype %}
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" id="dietarytype"  for="dietarytype">{{dietary}}</label>
                          </div>
                          {% endfor %}

                      </div>
                    </div>
                    <br>

                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                          <label for="allergytype" class="col-form-label">Allergy Type:  </label>

                          {% for allergy in allergytype %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label"  id="allergytype"  for="allergytype">{{allergy}}</label>
                            </div>
                          {% endfor %}
                      </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <diV class="col-auto">
                            <label for="toolname" class="col-form-label">Tools Required:  </label>

                          {% for tool in toolname %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label" id="toolname"  for="toolname">{{tool}}</label>
                            </div>
                         {% endfor %}
                        </diV>
                    </div>
                    <br>

<!--                Input ingredients, quantity and unit for recipe -->
<!--                Dynamically populating all ingredients and unit types for users to select-->
                    <h5>Add the ingredients for your recipe</h5>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <div class="d-flex">
                                <div class="p-2">
                                    <label for="ingredientname" class="col-form-label">Select an ingredient</label>
                                    <select class="form-select" aria-label="Default select example">
<!--                                creates a dropdown list-->
                                        <option selected>Select an ingredient</option>
<!--                                    This is the default option displayed when the dropdown list is opened. The selected attribute makes it the default selected option-->
                                        {% for ingredient in ingredientname %}
<!--                                    adding a for loop that iterates through all the values in ingredient-->
                                            <option value="{{ ingredient }}">{{ ingredient }}</option>
<!--                                        creates option element for each value in ingredientname-->
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="p-2">
                                <label for="quantity" class="col-form-label">Quantity</label>
<!--                                step added so that quantity can be in decimal as well as integer-->
<!--                                changes min to 1 so that users unable to choose 0 for any quantity-->
                                <input type="number" min="1" step="0.25" id="quantity" name="quantity" class="form-control" aria-describedby="quantity">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="p-2">
                                <label for="unitname" class="col-form-label">Select a unit</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select a unit</option>
                                    {% for unit in unitname %}
                                        <option value="{{ unit }}">{{ unit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="p-2">
                        <button id="addRowBtn" onclick="addNewRow()">Add row</button>
                    </div>

                    <br>
                    <div id="containerIngredients">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </section>
        </div>
    </main>
{% endblock %}