{% extends "layout.html" %}

{% block body_content %}
<main>
    <h1>Add your own recipe!</h1>
    <div class="container">
        <section>
            <h3 id="central-text">We want your recipes!</h3>
            <br>
            <!-- Table to display added ingredients -->
            <table id="ingredientTable" class="table">
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in session['addedingredients'] %}
                    <tr>
                        <td>{{ ingredient['ingredient'] }}</td>
                        <td>{{ ingredient['quantity'] }}</td>
                        <td>{{ ingredient['unit'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('addingredients') }}">Add ingredients</a>
            <br>
            <br>
                <button type="submit">Next</button>
            </form>
        </section>
    </div>

</main>
{% endblock %}

